{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} : Gestions Campus
{% endblock %}

{% block body %}
    <h3>Filtrer les campus</h3>
    <form method="post" action="{{ path('campus_create') }}">
        <label for="filtre">Le nom contient : </label>
        <input type="text" name="filtre" id="filtre">
        <input type="submit" value="Rechercher">
    </form>
    <table border="1">
        <tr>
            <th>Campus</th>
            <th>Actions</th>
        </tr>
        {% for campus in campusList %}
            {% if idCampusAModifier == campus.id %}
                <tr>
                    {{ form_start(campusForm) }}
                    <th>{{ form_widget(campusForm.nom) }}</th>
                    <th>
                        <button type="submit" name="campus_id" value="{{ campus.id }}">Confirmer</button>
                        {{ form_end(campusForm) }}
                        <form method="post" action="{{ path('campus_create') }}">
                            <button type="submit">Annuler</button>
                        </form>
                    </th>
                </tr>

            {% else %}
                <tr>
                    <th>{{ campus.nom }}</th>
                    <th>
                        <form method="post" action=" {{ path('campus_update') }}">
                            <input type="hidden" name="campus_id" value="{{ campus.id }}"/>
                            <button type="submit" name="campus_id" value="{{ campus.id }}" >Modifier</button>
                        </form>
                        <form method="post" action=" {{ path('campus_delete') }}">
                            <input type="hidden" name="campus_id" value="{{ campus.id }}"/>
                            <button type="submit">Supprimer</button>
                        </form>
                    </th>
                </tr>
            {% endif %}
        {% endfor %}
        {% if idCampusAModifier is null %}
            <tr>
                {{ form_start(campusForm) }}
                <th>{{ form_widget(campusForm.nom) }}</th>
                <th><button type="submit">Ajouter</button></th>
                {{ form_end(campusForm) }}
            </tr>
        {% endif %}
    </table>
{% endblock %}