{% extends 'base.html.twig'%}

{% block title%}Toutes les sorties{% endblock %}
{% block body %}
        <div>
            <p>Date du jour : {{ "now" | date('d/m/Y') }}</p>
            {% if is_granted('ROLE_USER') %}
            <p>Participant : {{ app.user.pseudo }}</p>
            {% endif %}
        </div>

        <h2>Filtrer les sorties</h2>

        <form action="{{ path('main_accueil') }}" method="post">
            <div>
                <label for="filtre_campus">Campus</label>
                <select name="filtre_campus" id="filtre_campus">
                    <option value="-1">Tout les campus</option>
                    {% for campus in campusList %}
                        <option value="{{ campus.id }}">{{ campus.nom }}</option>
                    {% endfor %}
                </select>
                <label for="filtre_nomSortie">le nom de la sortie contient</label>
                <input type="text" name="filtre_nomSortie" id="filtre_nomSortie" placeholder="recherche">
                <div>
                    <label for="filtre_dateDeb"></label>
                    <input type="date" name="filtre_dateDeb" id="filtre_dateDeb">
                </div>
                <div>
                    <label for="filtre_dateFin"></label>
                    <input type="date" name="filtre_dateFin" id="filtre_dateFin">
                </div>
            </div>
            <div>
                <input type="checkbox" name="filtre_CB_organisateur" id="filtre_CB_organisateur" value='true'>
                <label for="filtre_CB_organisateur">Sorties dont je suis l'organisateur.trice</label>
                <input type="checkbox" name="filtre_CB_inscrit" id="filtre_CB_inscrit" value='true'>
                <label for="filtre_CB_inscrit">Sorties auxquelles je suis inscrit.e</label>
                <input type="checkbox" name="filtre_CB_pasInscrit" id="filtre_CB_pasInscrit" value='true'>
                <label for="filtre_CB_pasInscrit">Sorties auxquelles je ne suis pas inscrit.e</label>
                <input type="checkbox" name="filtre_CB_passer" id="filtre_CB_passer" value='true'>
                <label for="filtre_CB_passer">Sorties passées</label>
            </div>
            <input type="submit" value="Rechercher">
        </form>

        <div>
            <table>
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for sortie in sortiesList %}
                        <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | date("d/m/Y à H:i")}}</td>
                        <td>{{ sortie.dateLimiteInscription.format('d/m/Y') }}</td>
                        <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{% if sortie.participants.contains(app.user) %} X {% endif %} </td>
                        <td><a href="{{ path('profil_consulter', {'id': sortie.organisateur.id} ) }}" >{{ sortie.organisateur.pseudo }}</a></td>
                        <td>
                            {% if app.user.id == sortie.organisateur.id %}
                                {% if sortie.etat.libelle == 'Créée' %}
                                    <a href="{{ path('sortie_modifier', {'id': sortie.id} ) }}" >Modifier</a>
                                    <a href="#" >Todo : Publier</a>
                                {% elseif sortie.etat.libelle =='Ouverte' %}
                                    <a href="{{ path('sortie_afficher', {'id': sortie.id} ) }}" >Afficher</a>
                                    <a href="{{ path('sortie_annuler', {'id': sortie.id} ) }}" >Annuler</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('sortie_afficher', {'id': sortie.id} ) }}" >Afficher</a>
                                {% if sortie.etat.libelle == 'Ouverte' %}
                                    {% if sortie.participants.contains(app.user) %}
                                        <a href="#" >Todo : se desinscrire</a>
                                    {% else %}
                                        <a href="#" >Todo : s'inscrire</a>
                                    {% endif %}
                                {% elseif sortie.etat.libelle == 'Clôturée' %}
                                    {% if sortie.participants.contains(app.user) %}
                                        <a href="#" >Todo : se desinscrire</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <button onclick="window.location.href = './sortie/creer';">Créer une sortie</button>
{% endblock %}

