{% extends 'base.html.twig'%}

{% block title%}Toutes les sorties{% endblock %}
{% block body %}
        <div>
            <p>Date du jour : {{ "now" | date('d/m/Y') }}</p>
            {% if is_granted('IS_AUTHENTICATD_FULLY') %}
            <p>Participant : {{ app.user.pseudo }}</p>
            {% endif %}
        </div>

            <h2>Filtrer les sorties</h2>


            {{ form_start(sortiesForm) }}
                {{ form_widget(sortiesForm.campus) }}
                {{ form_widget(sortiesForm.nom) }}
                {{ form_widget(sortiesForm.dateEntre) }}
                {{ form_widget(sortiesForm.dateET) }}
    <button type="submit">Rechercher</button>
            {{ form_end(sortiesForm) }}



        <div>
            <table>
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for sortie in sortiesList %}
                        <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut | date("d/m/Y à H:i")}}</td>
                        <td>{{ sortie.dateLimiteInscription.format('d/m/Y') }}</td>
                        <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{% if sortie.participants.contains(app.user) %} X {% endif %} </td>
                        <td><a href="{{ path('profil_consulter', {'id': sortie.organisateur.id} ) }}" >{{ sortie.organisateur.pseudo }}</a></td>
                        <td>
                            {% if app.user.id == sortie.organisateur.id %}
                                {% if sortie.etat.libelle == 'Créée' %}
                                    <a href="{{ path('sortie_modifier', {'id': sortie.id} ) }}" >Modifier</a>
                                    <a href="#" >Todo : Publier</a>
                                {% elseif sortie.etat.libelle =='Ouverte' %}
                                    <a href="{{ path('sortie_afficher', {'id': sortie.id} ) }}" >Afficher</a>
                                    <a href="{{ path('sortie_annuler', {'id': sortie.id} ) }}" >Annuler</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('sortie_afficher', {'id': sortie.id} ) }}" >Afficher</a>
                                {% if sortie.etat.libelle == 'Ouverte' %}
                                    {% if sortie.participants.contains(app.user) %}
                                        <a href="#" >Todo : se desinscrire</a>
                                    {% else %}
                                        <a href="#" >Todo : s'inscrire</a>
                                    {% endif %}
                                {% elseif sortie.etat.libelle == 'Clôturée' %}
                                    {% if sortie.participants.contains(app.user) %}
                                        <a href="#" >Todo : se desinscrire</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <button onclick="window.location.href = './sortie/creer';">Créer une sortie</button>
{% endblock %}

