{% extends 'base.html.twig' %}

{% block title %}Créer un profil{% endblock %}



{% block body %}
    <div class="container-form">
        <div class="img-profil-div">
            {% if participant.photoProfil != null %}
                <img class="img-profil" src="{{ asset('uploads/photos/' ~ participant.photoProfil)}}">

            {% else %}
                <img class="img-profil" src="{{ asset('img/canard-profil.png')}}">
            {% endif %}
        </div>
        <div class="formulaire">
            <div class="contenu-form">
                {{ form_start(profilForm) }}
                {{ form_widget(profilForm) }}
                <a href="{{ path('main_accueil') }}" class="annulation-btn">ANNULER</a>
                <button class="validation-btn" type="submit" value="enregistrer">ENREGISTRER</button>
                {{ form_end(profilForm) }}
            </div>
        </div>
    </div>

{% endblock %}
