{% extends 'base.html.twig' %}

{% block title %}Créer un profil{% endblock %}



{% block body %}
    <div class="container">
        <div class="img-profil-div">
            {% if participant.photoProfil != null %}
                <img class="img-profil" src="{{ asset('uploads/photos/' ~ participant.photoProfil)}}">

            {% else %}
                <img class="img-profil" src="{{ asset('img/canard-profil.png')}}">
            {% endif %}
        </div>
        <div class="formulaire">
            <div class="contenu-form">
                {{ form_start(profilForm) }}
                {{ form_widget(profilForm) }}
                <button class="annulation-btn" type="reset" value="annuler" >ANNULER</button>
                <button class="validation-btn" type="submit" value="enregistrer">ENREGISTRER</button>
                {{ form_end(profilForm) }}
            </div>

        </div>

    </div>

{% endblock %}
