{% extends 'base.html.twig' %}

{% block title %}Créer un profil{% endblock %}



{% block body %}
    <div class="container">
        <div class="img-profil-div">
            {% if profil.photoProfil != null %}
                <img class="img-profil" src="{{ asset('uploads/photos/' ~ profil.photoProfil)}}">

            {% else %}
                <img class="img-profil" src="{{ asset('img/canard-profil.png')}}">
            {% endif %}
        </div>
        <div class="info-profil">
            <ul>
                <li>Prénom  : {{ profil.prenom }}</li>
                <li>Nom: {{ profil.nom }}</li>
                <li>Téléphone: {{ profil.telephone }}</li>
                <li>Email : {{  profil.email }}</li>
                <li>Campus: {{ profil.campus.nom }}</li>
            </ul>
        </div>

    </div>

{% endblock %}
