{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Annuler une sortie</h1>
    </div>
{%  if sortie.organisateur.id == app.user.id %}
    <div >
        <ul>
            <li class="champ-li"><span class="nom-champ">Nom de la sortie : </span>{{ sortie.nom }}</li>
            <li class="champ-li"><span class="nom-champ">Date et heure de la sortie : </span>le {{ sortie.dateHeureDebut |date("d-m-Y à H:i")}}</li>
            <li class="champ-li"><span class="nom-champ">Campus : </span>{{ sortie.campus.nom }}</li>
            <li class="champ-li"><span class="nom-champ">Lieu : </span>{{ sortie.lieu.nom }} {{ sortie.lieu.rue }} {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}   </li>
        </ul>
        <div class="formulaire">
            {{ form_start(annulerSortieForm) }}
            {{ form_widget(annulerSortieForm) }}
            <button class="validation-btn" type="submit" name="submitAction" value="enregistrer">Confirmer l'annulation</button>
            {{ form_end(annulerSortieForm) }}
        </div>

        <form action="{{ path('main_accueil') }}" method="post">
            <button class="annulation-btn" type="submit">Retour</button>
        </form>
    </div>
{% else %}
    <div id="description">
        <p >Vous ne pouvez pas annuler une sortie si vous n'en êtes pas l'organisateur !</p>
        <form action="{{ path('main_accueil') }}" method="post">
            <button class="annulation-btn" type="submit">Annuler</button>
        </form>
    </div>
{% endif %}



{% endblock %}

{% block title %}

{% endblock %}

