{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie {% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}

    <div>
        <h1>{% if modification %} Modifier {% else %} Créez {% endif %} une sortie</h1>
        <p id="description">Vous {% if modification %} modifier {% else %} créez {% endif %} une sortie pour le campus de {{ app.user.campus.nom }} !</p>
    </div>
    <div class="container">
            <div class="formulaire">
                <div class="contenu-form">
                    {{ form_start(sortieForm) }}
                    {{ form_row(sortieForm.lieu) }}
                    <a href="{{ path('lieu_creer') }}" class="href"><strong>Si ton lieu n'est pas encore créé : ajoute-le !</strong></a>
                    <br>

                    {{ form_row(sortieForm.nom) }}
                    {{ form_row(sortieForm.dateHeureDebut) }}
                    {{ form_row(sortieForm.dateLimiteInscription) }}
                    {{ form_row(sortieForm.nbInscriptionsMax) }}
                    {{ form_row(sortieForm.duree) }}
                    {{ form_row(sortieForm.infosSortie) }}

                    <button class="validation-btn" type="submit" name="submitAction" value="enregistrer">Enregistrer</button>
                    <button class="validation-btn" type="submit" name="submitAction" value="publier">Publier la sortie</button>
                    {{ form_end(sortieForm) }}
                    {% if modification %}
                    <form action="{{ path('sortie_supprimer') }}" method="post">
                        <input type="hidden" name="sortie_id" value="{{ sortie.id }}">
                        <button class="validation-btn" type="submit">Supprimer</button>
                    </form>
                    {% endif %}
                </div>
                <form action="{{ path('main_accueil') }}" method="post">
                    <button class="annulation-btn" type="submit">Annuler</button>
                </form>
        </div>
    </div>


{% endblock %}
