{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} : Gestions Ville
{% endblock %}

{% block body %}
    <h3>Filtrer les villes</h3>
    <form method="post" action="{{ path('ville_create') }}">
        <label for="filtre">Le nom contient : </label>
        <input type="text" name="filtre" id="filtre">
        <input type="submit" value="Rechercher">
    </form>
    <table border="1">
        <tr>
            <th>Ville</th>
            <th>Code Postal</th>
            <th>Actions</th>
        </tr>
        {% for ville in villeList %}
            {% if idVilleAModifier == ville.id %}
                <tr>
                    {{ form_start(villeForm) }}
                    <th>{{ form_widget(villeForm.nom) }}</th>
                    <th>{{ form_widget(villeForm.codePostal) }}</th>
                    <th>
                        <button type="submit" name="ville_id" value="{{ ville.id }}">Confirmer</button>
                        {{ form_end(villeForm) }}
                        <form method="post" action="{{ path('ville_create') }}">
                            <button type="submit">Annuler</button>
                        </form>
                    </th>
                </tr>

            {% else %}
                <tr>
                    <th>{{ ville.nom }}</th>
                    <th>{{ ville.codePostal }}</th>
                    <th>
                        <form method="post" action=" {{ path('ville_update') }}">
                            <input type="hidden" name="ville_id" value="{{ ville.id }}"/>
                            <button type="submit" name="ville_id" value="{{ ville.id }}" >Modifier</button>
                        </form>
                        <form method="post" action=" {{ path('ville_delete') }}">
                            <input type="hidden" name="ville_id" value="{{ ville.id }}"/>
                            <button type="submit">Supprimer</button>
                        </form>
                    </th>
                </tr>
            {% endif %}
        {% endfor %}
        {% if idVilleAModifier is null %}
            <tr>
                {{ form_start(villeForm) }}
                <th>{{ form_widget(villeForm.nom) }}</th>
                <th>{{ form_widget(villeForm.codePostal) }}</th>
                <th><button type="submit">Ajouter</button></th>
                {{ form_end(villeForm) }}
            </tr>
        {% endif %}
    </table>
{% endblock %}