{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} : Gestions Villes
{% endblock %}

{% block body %}
    <h3>Filtrer les villes</h3>
    <div>todo : rechercher avec filtre</div>
    <table border="1">
        <tr>
            <th>Ville</th>
            <th>Code Postale</th>
            <th>Actions</th>
        </tr>
        {% for ville in villeList %}
            <tr>
                <th>{{ ville.nom }}</th>
                <th>{{ ville.codePostal }}</th>
                <th>todo : modifier - supprimer</th>
            </tr>
        {% endfor %}
        <tr>
            {{ form_start(villeForm) }}
            <th>{{ form_widget(villeForm.nom) }}</th>
            <th>{{ form_widget(villeForm.codePostal) }}</th>
            <th><button>Ajouter</button></th>
            {{ form_end(villeForm) }}
        </tr>
    </table>
{% endblock %}