{% extends 'base.html.twig'%}
{% block body %}

<h1>Gestion des utilisateurs.</h1>
    <div>
        <table class="liste table-sortie">
            <thead>
            <tr class="ligne-titre">
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pseudo</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participantsList %}
                <tr>
                    <td>{{ participant.nom }}</td>
                    <td>{{ participant.prenom }}</td>
                    <td>{{ participant.pseudo }}</td>
                    <td>{{ participant.email }}</td>
                    <td><form method="post" action="{{ path('participant_delete') }}">
                            <input type="hidden" name="participant_id" value="{{ participant.id }}">
                            <button class="annulation-btn-small" type="submit" name="participant_delete" value="{{ participant.id }}">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button><a href="{{ path('profil_creer') }}">Créer un profil</a></button>
    

{% endblock%}