<nav class="nav-div">

    <ul class="menu-ul">
        {% if app.user %}
            <li class="menu-li"><a class="menu-a" href="{{ path('main_accueil') }}" title="Accueil">Accueil</a></li>
            <li class="menu-li">&ensp;&ensp;|&ensp;</li>



            {% if is_granted ("ROLE_ADMIN") %}
                <li class="menu-li"><a class="menu-a" href="{{ path('objet_ville') }}" title="Villes">Villes</a></li>
                <li class="menu-li">&ensp;&ensp;|&ensp;</li>
                <li class="menu-li"><a class="menu-a" href="{{ path('objet_campus') }}" title="Campus">Campus</a></li>


                <li class="menu-li">&ensp;&ensp;|&ensp;</li>
                <li class="menu-li"><a class="menu-a" href="{{ path('profil_creerProfil') }}" title="Créer un profil">Créer un profil</a></li>

            {% endif %}
            <li class="menu-li"><a class="menu-a" href="{{ path('profil_detail', {'id': app.user.id}) }}" title="Mon profil">Mon profil</a></li>
            <li class="menu-li">&ensp;&ensp;|&ensp;</li>
            <li class="menu-li"><a class="menu-a" href="{{ path('app_logout') }}" title="Logout">Se déconnecter</a></li>
        {% endif %}

    </ul>
</nav>


